In [1]:
# Use Pandas to read your cleaned measurements and stations CSV data.
#import dependencies
import pandas as pd

# Use Pandas to read in the measurement and station CSV files as DataFrames.
measurements_to_load = "clean_hawaii_measurements.csv"
stations_to_load = "clean_hawaii_stations.csv"

# Read in the measurements and stations data
clean_hawaii_measurements = pd.read_csv(measurements_to_load)
clean_hawaii_stations = pd.read_csv(stations_to_load)

clean_hawaii_measurements.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.01    73

In [2]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
import sqlalchemy
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
# Use the `engine` and connection string to create a database called `hawaii.sqlite`.
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [4]:
# Use `declarative_base` and create ORM classes for each table.
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [5]:
# You will need a class for `Measurement` and for `Station`.

# Make sure to define your primary keys.
class Measurement(Base):
    __tablename__='Measurements'
    
    id = Column(Integer, primary_key = True)
    station = Column(String(20))
    date = Column(String(20))
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__='Stations'
    
    id = Column(Integer, primary_key = True)
    station = Column(String(20))
    name = Column(String(20))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def__repr__(self):
        return f'id={self.id}, name={self.name}'
    
# Once you have your ORM classes defined, 
# create the tables in the database using `create_all`.
Base.metadata.create_all(engine)

In [ ]:
# Create list of data to write into tables
measurements_data = clean_hawaii_measurements_df.to_dict(orient="records")
stations_data = clean_hawaii_stations_df.to_dict(orient="records")